@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  height: 4px !important;
  background: white !important;
}

@layer components {
  body {
    @apply bg-indigo-100;
    height: 100%;
  }

  input:focus-within ~ .registration_labels,
  input:not(:placeholder-shown) ~ .registration_labels {
    @apply transform scale-75 -translate-y-6;
    @apply text-green-500;
  }
}
body {
  overflow-x: hidden;
}
